<div class="flavors">
	<br/>
	<div class="row justify-content-around">
		<div class="col-lg-5 col-sm-10">
			<h3 align="center">Flavors</h3>
			<div class="cookies">
				<h4>Cookies</h4>
				<ul>
					<li>Chocolate Chip</li>
					<li>Peanut Butter</li>
					<li>Peanut Butter Chocolate Chip</li>
					<li>Snickerdoodle</li>
					<li>Mint Chocolate Chip</li>
					<li>White Chocolate Macadamia Nut</li>
				</ul>	
			</div>
			<div class="cake">
				<h4>Cupcakes</h4>
				<ul>
					<li>Chocolate Fudge</li>
					<li>Vanilla Bean</li>
					<li>Red Velvet</li>
					<li>Carrot</li>
					<li>Lemon</li>
					<li>Funfetti</li>
				</ul>
			</div>
			<div class="pie">
				<h4>Pies</h4>
				<ul>
				<li>Apple</li>	
				<li>Strawberry Reubarb</li>	
				<li>Blackberry</li>	
				<li>Olaberry</li>	
				<li>Pumpkin</li>	
				<li>Pecan</li>	
		</div>
		<div class="col-lg-5 col-sm-10">
			<h3 align="center">Gift Boxes</h3>
		</div>
	</div>
</div>			
