<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'cookie1.jpeg', class: 'img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Just one bite and you'll be hooked</h3>
      </div> 
    </div>
    <div class="carousel-item">
      <%= image_tag 'cookie2.jpeg', class: 'img-fluid' %>
    <div class="carousel-caption d-none d-md-block">
      <h3>Treat yourself</h3>
    </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'cookie3.jpeg', class: 'img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Explore holiday baking ideas</h3>
      </div>  
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- 
:size => "200x400" -->