@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Indie+Flower&display=swap";
@import "https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap";

.background {
	background: blue;
}

body {
	background: url('background.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
	font-family: 'Indie Flower', cursive;
	float: left;
	padding-top: 35px;
	padding-left: 100px;
}

.navbar-brand {
	font-size: 50px;
	font-family: 'Indie Flower', cursive;
	color: #A80293;
}

.details {
	border: solid 2px black;
}

.collapse navbar-collapse {
	text-align: center;
}

.nav-item {
	padding-left: 40px;
	padding-right: 40px;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
}

.navbar {
	background: white;
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.link {
	color: black;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
	line-height: 1;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

.carousel-item-prev {
  display: block;
}

.carousel-caption {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	font-weight: 100;
	text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 70%;
	position: absolute;
	padding-left: 30px;
	}

.carousel {
	box-shadow: 0px 3px 8px #2a2a2a;
}