@import "bootstrap";
@import "font-awesome";
@import "https://fonts.googleapis.com/css?family=Indie+Flower&display=swap";
@import "https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700";
@import "https://fonts.googleapis.com/css?family=Pacifico";

.background {
	background: blue;
}

body {
	background: #91D9D5;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.home_links {
	font-size: 30px;
	color: black;
	font-family: 'Montserrat';
}


.box {
	font-family: 'Montserrat', ;
	padding-top: 35px;
	padding-left: 160px;
}

.navbar-brand {
	font-size: 70px;
	font-family: 'Indie Flower', cursive;
	color: #A80293;
}

.details {
	font-family: 'Montserrat', sans-serif;
	border: 5px; border-style:solid; 
	border-color: #3dada4; 
	padding-left: 50px; 
	padding-right:50px;
	padding-top:20px;
	font-size: 23px;
	background: white;
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.flavors {
	font-family: 'Josefin Sans', sans-serif;
}


.collapse navbar-collapse {
	text-align: center;
}

.nav-item {
	padding-left: 40px;
	padding-right: 40px;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
}

.navbar {
	background: image_url('wallpaper.jpg') no-repeat bottom fixed;
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 3px 0 #2a2a2a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.link {
	color: black;
	font-size: 28px;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
	display: block;
	width: 100%;
	height: 500px;
	line-height: 1;
}

.carousel-item {
	-webkit-backface-visibility: unset!important;
    backface-visibility: unset!important;
}


.carousel-item-prev {
  display: block;
}

.carousel-caption {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	font-weight: 100;
	text-shadow: rgba(0, 0, 0, 0.35) 2px 2px;
	background-color: transparent;
	width: 70%;
	position: absolute;
	padding-left: 30px;
	}

.carousel {
	box-shadow: 0px 3px 8px #2a2a2a;
}

.social-button {
	margin: 20px;
}

.social a:hover {
	text-decoration: none;
}

#footer {
	position: relative;
	width: 100%;
	min-height: 100px;
	background-color: rgba(36, 32,33, 0.9);
	color: white;
	font-family: "Helvetica Neue", Helvetica;
	padding: 10px 0px;
	margin-top: 30px;
	font-weight: 100;
}

#footer a {
	color: white;
	font-weight: 100;
}